.container {
  background-color: #fce7f3;
  padding: 32px;
  width: 100%;
  height: auto;
  border-radius: 8px;

  .scrollbar {
    width: 90%;
  }
  .subContainer {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
    gap: 20px;
  }
}
