.container {
  background-color: #faf1ed;
  min-height: 353px;
  padding: 32px;
  margin-top: 32px;
  .subContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    .left {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
    }

    ul {
      list-style-type: none;
      padding: 0;
      font-family: "Roboto Mono", monospace;
      letter-spacing: 2px;
      li {
        .bodyText {
          color: #333333;
          font-weight: 500;
        }
        .subtitle {
          color: #000000;
          font-weight: 700;
        }
      }
    }
  }
}
